body {
  background-color: azure;
}

h1 {
  color: blueviolet;
}

.center {
  text-align: center;
}

.fonte-rosa {
  color: pink;
}
p {
  color: gray;
  text-align: center;
}

#para {
font-family: verdana;
font-size:20px;
}
